//* ###### Переменные стилей ##############
//? ====== Подключение шрифтов ============

$fontFamily: "Arial", sans-serif;

//? ====== Контейнер ======================
$maxWidth: 1920; // Не меняем.
$maxWidthContainer: 1200;
$md1: $maxWidthContainer + 10;
$md2: 767.98;

//? ====== Цвета ==========================
$black: #000000;
$white: #FFFFFF;


//? ====== Наборы стилей ==================

//? ====== Типографика ====================
